*{
    max-width: 1855px;
    margin:0;
}
body{
    background-color: white;
}
.container1{
    display: flex;
    width: 100%;
}
.logo{
  margin-left: 350px;
}
.info{
    margin-left: 747px;
    /* text-indent: 10%; */
    word-spacing: 10px;
}
.container2{
   width: 100%;
   position: relative;
   text-align: center;
   color: white;
}
.background>img{
    width:1855px;
    height: 450px;
}
.center{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.container3{
/* background-color: rgb(187, 185, 185); */
display: flex;
align-items: center;
justify-content: center;
margin-top: 80px;
border-radius: 3px;
padding: 56px;
}
/* .border{
    border-radius: 20px;
    display: flex;
align-items: center;
justify-content: center;
} */
.about{
/* background-color: aliceblue; */
padding: 57px 34px;
margin-right: 57px;
}
.page{
    /* background: aqua; */
    padding: 20px 60px;
}
.container4{
    display: flex;
    align-items: center;
    justify-content: center;
   flex-direction: column;
   margin-top: 44px;
   padding: 56px;
   background-color:hsl(0, 33%, 97%) ;
}
.section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap:1em;
    grid-row-gap:1em;
}
.section > div{
    border: 1px rgb(255, 255, 255) solid;
    background-color: white;
    margin-top: 40px;
}
.container5{
    display: flex;
    align-items: center;
    justify-content: center;
   flex-direction: column;
   /* background-color:hsl(0, 5%, 85%) ; */
   padding: 53px;
}
.section2{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap:1em;
    grid-row-gap:1em;
    /* justify-content: space-between; */
    padding: 34px;
}
/* .two>div{
    background-color: aqua;
} */
.two{
    display: flex;
}
.monitor{
    padding-right: 20px;
}
.section2 > div{ 
background-color: white;
grid-auto-flow: row;
padding: 23px;
} 
.container6{
    background-color: rgb(243, 51, 51);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align-last: center;
    padding: 90px;
}
.text{
    color: white;
}
.contact{
    background-color: white;
    padding: 16px 50px;
}
#me{
    color: red;
}
.container7{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    border: black;

}
.last{
margin-right: 10px;
/* border: 1px rgb(31, 29, 29) solid; */
padding: 83px;
margin-left: 151px;
display: flex;
}
.last1{
    /* border: 1px rgb(31, 29, 29) solid; */
margin-left: 581px;
    padding: 52px;
}
.hars{
    color: red;
    margin-top: 36px;
    margin-left: 10px;
}
#parent{
    display: grid;
}
@media (max-width: 768px){
    /* body{
        width: 100%;
    } */
    #parent{
        display: block;
    }
    .container1{
        width: 100%;
        height: auto;
    }
    .logo{
        width: 100%;
        height: auto;
        margin: 0px;
    }
    .info{
        width: 100%;
        height: auto;
        margin: 0px;
    }
    .background img{
        width: 100%;
        height: auto;
        /* padding: 10%;
        box-sizing: border-box; */
    }
    .container3{
        display: block;
        width: 100%;
        height: auto;
    }
    /* .container4{
        display: block;
        width: 100%;
    } */
    .section{
        display: block;
        width: 100%;
        height: auto;
    }
    /* .section > div{
        width: 100%;
        height: auto;
    } */
    .section2{
        display: block;
        width: 100%;
    }
    .container7{
        display: block;
        width: 100%;
    }
    .last{
        margin: 0px;
        padding: 0px;
    }
    .last1{
        padding: 0px;
        margin: 0px;
    }
}
@media (max-width: 468px){

 #parent{
        display: block;
    }
    .container1{
        width: 100%;
        height: auto;
    }
    .logo{
        width: 100%;
        height: auto;
        margin: 0px;
    }
    .info{
        width: 100%;
        height: auto;
        margin: 0px;
    }
    .background img{
        width: 100%;
        height: auto;
        /* padding: 10%;
        box-sizing: border-box; */
    }
    .container3{
        display: block;
        width: 100%;
        height: auto;
    }
    /* .container4{
        display: block;
        width: 100%;
    } */
    .section{
        display: block;
        width: 100%;
        height: auto;
    }
    /* .section > div{
        width: 100%;
        height: auto;
    } */
    .section2{
        display: block;
        width: 100%;
    }
    .container7{
        display: block;
        width: 100%;
    }
    .last{
        margin: 0px;
        padding: 0px;
    }
    .last1{
        padding: 0px;
        margin: 0px;
    }

}